<div class="d-flex">
  <div class="col"></div>
  <div>
    <div class="messaged-boxes right-says">
      <%= chat.message %>
    </div>
    <div style="text-align: right;font-size: x-small;"><%= link_to "Destroy", chat_path(chat.id), method: :delete, remote: true %></div>
  </div>
</div>