<p style="text-align: right;margin-top:1em;margin-bottom:0px;"><%= chat.message %></p>
<p style="text-align: right;font-size: x-small;"><%= link_to "Destroy", chat_path(chat.id), method: :delete, remote: true %></p>