  <% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div>
        <%= render "chats/chat", chat: chat %>
      </div>
    <% else %>
      <div class="d-flex" style="margin:5px 0 5px 0;">
        <div>
          <div class="messaged-boxes" style="background:#fcf4d6;">
            <%= chat.message %>
          </div>
        </div>
        <div class="col"></div>
      </div>
    <% end %>
  <% end %>