/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body */
body {
  color: #0d4103;
}

/* header,footer */

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-dark .navbar-toggler {
  border-color: #4c9b77;
}

/* .footer-margin {
  background: #d7eedc;
  height: 50px;
} */

header,
footer {
  background: #90d8a0;
  height: 8%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .correct-footer {
  background: #90d8a0;
}


/* main */
main {
  background: #28a74530;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 84%;
  overflow: auto;
  position: absolute;
  top: 8%;
  width: 100%;
}

.table {
  color: #0d4103;
}

.table thead th {
  border-bottom: 2px solid #89bda5;
  border-top: 2px solid #89bda5;
}

.table th {
  border-top: 1px solid #89bda5;
}

.table td {
  border-top: 1px solid #89bda5;
}

.chat-flame {
  margin-left: 10%;
  padding: 0.2em 0.5em;
  color: #565656;
  background: #eeffea;
  box-shadow: 0px 0px 0px 10px #eeffea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.left-says {
  position: relative;
  display: inline-block;
  /* 文字数に合わせて幅を決める */
  padding: 4px 15px;
  background: #fcf4d6;
  border-radius: 30px;
  margin-left: 20px;
  max-width: 300px;
}

.left-says:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 8px;
  height: 7px;
  bottom: 2px;
  background: #fcf4d6;
  border-radius: 50%;
}

.left-says:after {
  content: "";
  position: absolute;
  left: -10px;
  width: 10px;
  height: 9px;
  bottom: 3px;
  background: #fcf4d6;
  border-radius: 50%;
}

.right-says {
  position: relative;
  display: inline-block;
  /* 文字数に合わせて幅を決める */
  padding: 4px 15px;
  background: #fcd6df;
  border-radius: 30px;
  margin-right: 20px;
  max-width: 300px;
}

.right-says:before {
  content: "";
  position: absolute;
  right: -20px;
  width: 8px;
  height: 7px;
  bottom: 2px;
  background: #fcd6df;
  border-radius: 50%;
}

.right-says:after {
  content: "";
  position: absolute;
  right: -10px;
  width: 10px;
  height: 9px;
  bottom: 3px;
  background: #fcd6df;
  border-radius: 50%;
}

.messaged-boxes p {
  margin: 0;
  padding: 0;
}