/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body */
body {
  color: #0d4103;
}

/* header,footer */

.navbar-dark .navbar-toggler {
  border-color: #4c9b77;
}

.footer-margin {
  background: #d7eedc;
  height: 50px;
}

.navbar,
footer {
  background: #90d8a0;
}

footer .correct-footer {
  background: #90d8a0;
}


/* main */
main {
  background: #28a74530;
}

.table {
  color: #0d4103;
}

.table thead th {
  border-bottom: 2px solid #89bda5;
  border-top: 2px solid #89bda5;
}

.table th {
  border-top: 1px solid #89bda5;
}

.table td {
  border-top: 1px solid #89bda5;
}

.chat-flame {
  width: 400px;
  margin: auto;
  padding: 0.2em 0.5em;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.messaged-boxes {
  position: relative;
  display: inline-block;
  /* 文字数に合わせて幅を決める */
  padding: 4px 15px;
  background: #fcd6df;
  border-radius: 30px;
  max-width: 300px;
}

.messaged-boxes:before {
  position: absolute;
  left: -40px;
  bottom: 0;
  background: #fcd6df;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.messaged-boxes:after {
  font-family: FontAwesome;
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #fff0c6;
}

.messaged-boxes p {
  margin: 0;
  padding: 0;
}